{% load static %}
{% include 'material/includes/material_css.html' %}
<!-- Latest compiled and minified CSS -->
<script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>

{% include 'material/includes/material_js.html' %}

{% load material_form %}



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Design for Django Forms and Admin</title>



<link href="/static/material/css/materialize.css" rel="stylesheet">
<link href="/static/material/css/jquery.datetimepicker.css " rel="stylesheet">
<link href="/static/material/css/forms.css " rel="stylesheet">


    <style type="text/css">
      html, body {
          background: #eee;
          height: 100%;
      }
    </style>

<style type="text/css">

</style>


  </head>
  <body class="valign-wrapper2">

      <div class="container expand-on-small-only">

<div class="row valign change-form">
    <div class="col s12 m8 offset-m2 l8 offset-l2">
        <div class="card">
            <form method="POST" enctype="multipart/form-data">
                <div class="card-content">
                    <span class="card-title grey-text text-darken-2">Registrar-se</span>
                    <input type='hidden' name='csrfmiddlewaretoken' value='AD96j5OnsBPsnwXs48m137bgsIyIZvML' />
                        <form method="POST">
                            {% csrf_token %}
                            {% form form=form %}

                                <div class="row">
                                    <div class="input-field col s12 required" id="id_name_container">
                                        {% part form.username prefix %}<i class="mdi-action-account-box prefix"></i>{% endpart %}
                                        <!--
                                        <i class="mdi-action-account-box prefix"></i>
                                        <label for="id_username">Nome:</label>
                                        {{ form.username.erros }}
                                        {{ form.username }}
                                        -->
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12 required" id="id_name_container">
                                        {% part form.first_name prefix %}<i class="mdi-action-account-box prefix"></i>{% endpart %}
                                        <!--
                                        <i class="mdi-action-account-box prefix"></i>
                                        <label for="id_username">Nome:</label>
                                        {{ form.first_name.erros }}
                                        {{ form.first_name }}
                                        -->
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12 required" id="id_name_container">
                                        {% part form.last_name prefix %}<i class="mdi-action-account-box prefix"></i>{% endpart %}
                                        <!--
                                        <i class="mdi-action-account-box prefix"></i>
                                        <label for="id_username">Nome:</label>
                                        {{ form.last_name.erros }}
                                        {{ form.last_name }}
                                        -->
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12 required" id="id_name_container">
                                        {% part form.email prefix %}<i class="mdi-communication-email prefix"></i>{% endpart %}
                                        <!--
                                        <i class="mdi-action-account-box prefix"></i>
                                        <label for="id_username">Nome:</label>
                                        {{ form.email.erros }}
                                        {{ form.email }}
                                        -->
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12 required" id="id_name_container">
                                        {% part form.password1 prefix %}<i class="mdi-action-lock-open prefix"></i>{% endpart %}
                                        <!--
                                        <i class="mdi-action-account-box prefix"></i>
                                        <label for="id_username">Nome:</label>
                                        {{ form.password1.erros }}
                                        {{ form.password1 }}
                                        -->
                                    </div>
                                </div>

                            {% endform %}

                            <div class="card-action">
                                <div class="right-align">
                                    <button class="waves-effect waves-light btn" type="submit">Cadastrar</button>
                                </div>
                            </div>
                        </form>
                </div>

            </form>
        </div>
    </div>
</div>



      </div>

      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>



<script src="/static/material/js/jquery.datetimepicker.js"></script>
<script src="/static/material/js/jquery.formset.js"></script>
<script src="/static/material/js/materialize.js"></script>
<script src="/static/material/js/material_init.js"></script>
<script type="text/javascript">
if (navigator.appVersion.indexOf('Win') != -1) {
    document.write('<link rel="stylesheet" type="text/css" href="/static/material/css/robotofix.css">');
}
</script>


  </body>
</html>